@font-face {
    font-family: 'Montserrat'; 
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Regular.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border:0;
}


html {
    box-sizing: border-box;
    font-size: 16px;
 }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  body{
    margin: 0;
    padding: 0;
    font-family: Mulish;
  }
  header{
    margin: 25px 11.11% 0 11.11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Mulish;
    font-weight: 600;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  nav{
    display: flex;
    gap: 50px;
  }
  header > div:first-child {
    display: flex;
    align-items: center;
    gap: 50px;
}
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 50px;
}
.get-started-header{
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    color:white;
    width: 147px;
    height: 50px;
    border-radius: 33px;
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.get-started{
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    color:white;
    width: 206px;
    height: 66px;
    border-radius: 33px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    font-family: Mulish;
    letter-spacing: 0.2px;
    font-size: 1.25rem;
}
.logo{
    max-height: 40px;
    min-height: 40px;
    min-width: 160px;
}
.container-learn{
  display: flex;
  align-items: center; 
  width: 100%;
  margin-top: 26px;
  position: relative;
}
.container-banner {
  width: 75.69%;
  height: 700px;
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(44deg, rgba(205, 16, 255, 0.05) 15.75%, rgba(159, 6, 255, 0.05) 84.63%);
  position: relative;
  display: flex;
  align-items: flex-start;
}

.content-learn-left {
  position: relative;
  margin-left: 11.11vw;
  height: 100%;  
  display: flex;
  flex-direction: column;
}

.content-learn-left h1 {
  font-family: Montserrat;
  font-size: 3.75rem;
  font-weight: 700;
  color: #001A49;
  line-height: 4.25rem; 
  letter-spacing: -1px;
  margin-top: 26.28%; 

}

.content-learn-left p {
  text-align: left;
  margin-top: 3.92%;  
  margin-bottom: 7.84%; 
  line-height: 1.875rem;
}

.content-learn-left .get-started{
  margin-bottom: 19.61%;

}
.content-learn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px; 
}
.photos-container {
  display: flex;
  align-items: center;
  bottom: 18.14%; 
}

.photo {
  width: 50px;     
  height: 50px;     
  border-radius: 50%;
  border: 1px solid #F4F9FA;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-left: -15px; 
}

.photo:first-child {
  margin-left: 0; 
}
.video-container {
  position: absolute;
  right: 0;
  width: 40.97%; 
  height: 51.43%; 
  background: #001A49;
  box-shadow: 0px 32px 44px 0px #818A8C;
  border-radius: 20px 0 0 20px; 
  overflow: hidden;
  cursor: pointer;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px; 
}
.stats-container {
  margin: 100px 11.11% 0 11.11%;
  display: flex;
  background-color: #fff;
  border-radius: 21px;
  border: 1px solid #E7EAEB;
  width: 78%;
  height: 172px;
  justify-content:space-around;
  position: relative;
}
.stat-item {
  width: 10.43%;
  text-align: center;
  display: flex;        
  flex-direction: column; 
  justify-content: center;
  position: relative;
}
.stat-item h2{
  color: #001A49;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem
}
.stat-item p{
  font-size: 1rem;
}
.stat-item:not(:last-child):after {
  content: '';
  position: absolute;
  right: -113.83%;                
  height: 65.11%;          
  width: 1px;              
  background: #E7EAEB;    
}
.container-text{
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}
h2{
  color: #001A49;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem
}
p{
  color: #4F596A;
  font-family: Mulish;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  }
.container-icon-cercl{
  border-radius: 50%;
  fill: #FFF;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 64px;
  height: 64px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
.container-cards{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: center;
  margin: 61px  0 0 0;
  padding: 0 11.11% 0 11.11%;
}
.card{
  width: 100%;
  height: 172px;
  display: flex;
  align-items: center;
  border-radius: 21px;
  background: linear-gradient(44deg, rgba(205, 16, 255, 0.2) 15.75%, rgba(159, 6, 255, 0.2) 84.63%);
  justify-content:space-between;
}
.card-icon-text{
  display:flex;
  gap: 20px;
  margin-left: 4.2%;
}
.card .container-text{
  margin-top: 0px;
  align-items: flex-start;
}
.card p{
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}
.card h2{
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.card .get-started{
  margin-right: 4.8%;
  width: 278px;
  justify-content: space-around;
}
.get-started p {
  color: #FFF;
}
.card .get-started:not(:last-child):after {
  content: '';
  position: absolute;
  right: -113.83%;                
  height: 65.11%;          
  width: 1px;              
  background: #E7EAEB;    
}

