@font-face {
    font-family: 'Montserrat'; 
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Regular.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  border:0;
}


html {
    box-sizing: border-box;
    font-size: 16px;
 }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  body{
    margin: 0;
    padding: 0;
    font-family: Mulish;
  }
  header{
    margin: 25px 11.11% 0 11.11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Mulish;
    font-weight: 600;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  nav{
    display: flex;
    gap: 50px;
  }
  header > div:first-child {
    display: flex;
    align-items: center;
    gap: 50px;
}
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 50px;
}
.get-started-header{
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    color:white;
    width: 147px;
    height: 50px;
    border-radius: 33px;
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.get-started{
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    color:white;
    width: 206px;
    height: 66px;
    border-radius: 33px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    font-family: Mulish;
    letter-spacing: 0.2px;
    font-size: 1.25rem;
}
.logo{
    max-height: 40px;
    min-height: 40px;
    min-width: 160px;
}
.container-learn{
  display: flex;
  align-items: center; 
  width: 100%;
  margin-top: 26px;
  position: relative;
}
.container-banner {
  width: 75.69%;
  height: 700px;
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(44deg, rgba(205, 16, 255, 0.05) 15.75%, rgba(159, 6, 255, 0.05) 84.63%);
  position: relative;
  display: flex;
  align-items: flex-start;
}

.content-learn-left {
  position: relative;
  margin-left: 11.11vw;
  height: 100%;  
  display: flex;
  flex-direction: column;
}

.content-learn-left h1 {
  font-family: Montserrat;
  font-size: 3.75rem;
  font-weight: 700;
  color: #001A49;
  line-height: 4.25rem; 
  letter-spacing: -1px;
  margin-top: 26.28%; 

}

.content-learn-left p {
  text-align: left;
  margin-top: 3.92%;  
  margin-bottom: 7.84%; 
  line-height: 1.875rem;
}

.content-learn-left .get-started{
  margin-bottom: 19.61%;

}
.photos-container {
  display: flex;
  align-items: center;
  bottom: 18.14%; 
}
.photo {
  width: 50px;     
  height: 50px;     
  border-radius: 50%;
  border: 1px solid #F4F9FA;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-left: -15px; 
}

.photo:first-child {
  margin-left: 0; 
}
.video-container {
  position: absolute;
  right: 0;
  width: 40.97%; 
  height: 51.43%; 
  background: #001A49;
  box-shadow: 0px 32px 44px 0px #818A8C;
  border-radius: 20px 0 0 20px; 
  overflow: hidden;
  cursor: pointer;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px; 
}
.stats-absolute-container{
  width: 100%;
  position: relative;
}
.stats-container {
  margin: 100px 11.11% 0 11.11%;
  display: flex;
  background-color: #fff;
  border-radius: 21px;
  border: 1px solid #E7EAEB;
  width: 78%;
  height: 172px;
  justify-content:space-around;
  position: relative;
  overflow: hidden;
}
.stats-absolute-container .circle-container{
  top:0;
  left:-46px;
}
.stats-absolute-container .circle-orange{
  height: 86px;
  width: 86px;
  top: 222px;
  left: 202px;
}
.stats-absolute-container .circle-purple{
  top: 20px;
  width: 288px;
  height: 288px;
}
.circle-big-orange{
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
  height: 382px;
  width: 382px;
  right: -248px;
}
.stat-item {
  width: 10.43%;
  text-align: center;
  display: flex;        
  flex-direction: column; 
  justify-content: center;
  position: relative;
}
.stat-item h2{
  color: #001A49;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem
}
.stat-item p{
  font-size: 1rem;
}
.stat-item:not(:last-child):after {
  content: '';
  position: absolute;
  right: -113.83%;                
  height: 65.11%;          
  width: 1px;              
  background: #E7EAEB;    
}
.container-text{
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}
h2{
  color: #001A49;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem
}
p{
  color: #4F596A;
  font-family: Mulish;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  }
.container-icon-circle{
  border-radius: 50%;
  fill: #FFF;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 64px;
  height: 64px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
.container-cards{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: center;
  margin: 61px  0 0 0;
  padding: 0 11.11% 0 11.11%;
}
.card{
  width: 100%;
  height: 172px;
  display: flex;
  align-items: center;
  border-radius: 21px;
  background: linear-gradient(44deg, rgba(205, 16, 255, 0.2) 15.75%, rgba(159, 6, 255, 0.2) 84.63%);
  justify-content:space-between;
}
.card-icon-text{
  display:flex;
  gap: 20px;
  margin-left: 4.2%;
}
.card .container-text{
  margin-top: 0px;
  align-items: flex-start;
}
.card p{
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}
.card h2{
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.card .get-started{
  margin-right: 4.8%;
  width: 278px;
  justify-content: space-around;
}
.get-started p {
  color: #FFF;
}

.container-instructor{
  padding: 117px 11.11% 123px 11.11%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.container-instructor .container-text{
  margin-top: 0px;
  align-items: flex-start;
}
.container-instructor p{
  text-align: left;
}
.container-instructor h2{
  text-align: left;
}
.container-circle{
  position: relative;
  width: 37.41%; 
  height: 382px; 
  display: flex;
}
.circle-instructor{
  position: relative;
  margin: 11px 40px 17px 25px;
  width: 84.48%;
  height: 354px;
  background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}
.circle-instructor img{
  position: absolute;
  bottom: 0;
  border-radius: 50%;
}
.circle-instructor-1{
  position: absolute;
  width: 21%;
  height: 88px;
  background: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
  border-radius: 50%;
  top: 0;
  left: 0;;
}
.circle-instructor-2{
  position: absolute;
  width: 31.5%;
  height: 132px;
  background: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
  opacity: 0.5;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}
.container-slider{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 806px;
  justify-content:center;
  background: linear-gradient(44deg, #CD10FF 15.75%, #CD10FF 15.76%, #9F06FF 84.63%);
}
.container-slider .container-text{
  margin: 0;
  margin-bottom: 100px;
}
.container-slider p{
  opacity: 0.8;
  color: #ffffff;
}
.container-slider h2{
  color: #ffffff;
}
.slider{
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-left: 160px;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slide{
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 330px;
  border-radius: 20px;
  background: rgba(76, 0, 112, 0.20);
  align-items: center;
  padding: 50px 2.77% 40px 3.47% ;
  justify-content: space-between;
}
.slide p{
  width: 100%;
  text-align: left;
}
.slide-photos-container{
  display: flex;
  align-items: center;
  width: 100%;
}
.span-container{
  padding-left: 14px;
  display: flex;
  flex-direction: column;
}
.span-container span{
  color: #FFF;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.span-container span:last-child{
  opacity: 0.8;
}
.span-container span:first-child{
  font-weight: 700;
}
.curriculm-container{
  width: 100%;
  flex-direction: column;
  padding: 148px 20.49% 0 20.49%;
  justify-content: center;
}
.curriculm-container h2{
  margin-bottom: 60px;
}
.curriculm-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 20px;
}
.curriculm-grid-item{
  border-radius: 21px;
  border: 1px solid #CD10FF;
  min-height:  104px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.curriculm-grid-item:first-child{
  min-height: 310px;
  padding-bottom: 44px;
  padding-top: 40px;
}
.curriculm-grid-item-text{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}
.curriculm-grid-item-text h3{
  color: #001A49;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; 
  left: 0;
}
.curriculm-grid-item-text p{
  color: #4F596A;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
}
.curriculm-grid-item-button{
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  background-color: #f9d7c6;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-right: 40px;
}
.curriculm-grid-item:first-child .curriculm-grid-item-button {
  align-self: flex-start;
  margin-top: 16px;
}
.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #8a4af3; 
  position: relative;
}
.container-text-bunner{
  position: relative;
  display: flex;
  flex-direction: column;  
  width: 100%;
  align-items: center;
  padding-top: 122px;
  padding-bottom: 120px;
  overflow: hidden;
}
.container-text-bunner-p{
  display: flex;
  width: 27.92%;
  height: 30px;
  background: linear-gradient(90deg, #FFD7A9 0%, #FFAE70 100%);
  border-radius: 33px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.container-text-bunner p{
  background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.571px;
  text-transform: uppercase;
}
.container-text-bunner h2{
  color: #001A49;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 30px;
}
.circle-orange {
  position: absolute;
  width: 123px;
  height: 123px;
  background: linear-gradient(36deg, #FFD7A9 9.11%, #FFAE70 71.64%);
  border-radius: 50%;
  z-index: 100;
}
.circle-purple {
  position: absolute;
  width: 355px;
  height: 355px;
  background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 50%;
}
.circle-container{
  position: absolute;
  display: flex;
  right: 154px;
  top: 92px;
}
footer{
  background: linear-gradient(44deg, rgba(205, 16, 255, 0.05) 15.75%, rgba(159, 6, 255, 0.05) 84.63%);
}
.footer-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 50px;
  gap: 80px;
}
.subscribe-container {
  width: 61.18%;
  position: relative;
  justify-content: center;
  display: flex;
  border-radius: 50px;
}
.subscribe-container input {
  width: 100%;
  height: 66px;
  font-size: 0.875rem;
  border-radius: 50px;
  justify-content: left;
  padding-left: 40px;
}
.subscribe-container input::placeholder {
  opacity: 0.5; 
  color: #4F596A;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe-container a {
  width: 135px;
  height: 50px;
  font-size: 1rem;
  position: absolute;
  right: 0;
  margin: 8px;
}
.footer-top .logo{
  width: 150px;
  min-width: 150px;
  min-height: 31px;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: left;
  padding-left: 386px;
  padding-right: 433px;
  padding-bottom: 80px;
}
.footer-column{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: left;
}
.footer-column h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #001A49;
}

.footer-column ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.footer-column ul li a {
  text-decoration: none;
  color: #4F596A;
  font-size: 0.875rem;
}